<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Murdoku</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Bienvenido a tu primer caso de murdoku</h1>
<h2> Resuelve el misterio completando el tablero </h2>
<div id="history"></div>
<h2>Escena del crimen</h2>
<div id="controles">
<label for="coger-personaje">Personaje a colocar:</label>
<select id="coger-personaje">
    <option value="">Selecciona un personaje</option>
    <option value="Alejandro">Alejandro</option>
    <option value="Beatriz">Beatriz</option>
    <option value="Carolina">Carolina</option>
    <option value="Dante">Dante</option>
    <option value="Elisabeth">Elisabeth</option>
</select>
</div>
<div id="tablero"></div>
<div id="resultado"></div>
<script src="/static/script.js"></script>
</body>
</html>